body{
    background-color: rgb(180, 180, 180);
}

.foto{
    width: 200px;

    border: 2px solid white;
    border-radius: 50%;

    margin: 30px 30px 30px 30px;

    padding: 10px
}

p{
    color: rgb(2, 2, 2);
}