:root{
    --color-primary: rgb(182, 1, 1);
    --color-secundary: rgb(90, 20, 20);

    --spacing: 16px;
}

h1{
    color: var(--color-primary);
}

h2{
    color: var(--color-secundary);
    margin: var(--spacing);
}

p{
    color: var(--color-primary);
}

button{
    background-color: var(--color-primary);
    color: white;
}