body{
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

.foto{
    width: 200px;
}

p{
    color: rgb(2, 2, 2);
}