#form{
    display: flex;
    align-items: center;
}

#submit{
    margin: 0 5px;
}

.submitNone{
    display: none;
}

.loading{
    width: 20px;
    display: none;
}

.loadingVisible{
    display: inline-block;
}